<footer role="contentinfo">
  <div class="footer-content">
  <div class="footer-column">
    <div>
      {% if page.url != "/bioLinks/" %}
        {% include "../components/social.njk" %}
      {% endif %}
      {# need to makee this year automatically update #}
      <p>Romina Garber &copy; <time>
        <script>document.write( new Date().getFullYear() );</script>
      </time></p>

      {% if page.url != "/newsletter/" %}
        <div class="footer-newsletterform">
          <a href="/newsletter/"><button class="btn btn--primary">Subscribe to my newsletter</button></a>
        </div>
      {% endif %}

    </div>
    </div>
    {% include "../components/footer-nav.njk" %}
  </div>
</footer>
