<footer role="contentinfo">
  <div class="footer-content">
  <div class="footer-column">
    <div>
      {% include "../components/social.njk" %}
      {# need to makee this year automatically update #}
      <p>Romina Garber &copy; <time>2020</time></p>
      <div class="footer-newsletterform">
        {% include "../components/newsletter-form.njk" %}
      </div>
    </div>
    </div>
    {% include "../components/footer-nav.njk" %}
  </div>
</footer>
