<footer>
  <section class="footer-content"> 
    <div>
      {% include "../components/social.njk" %}
      <p>Romina Garber &copy; 2020</p>
    </div>
    {% include "../components/nav.njk" %}
    <div>
      {% include "../components/newsletter-form.njk" %}
    </div>
  </section>
</footer>