{% set siteTitle = 'Romina Garber' %}
{% set siteUrl = 'https://rominagarber.com/' %}
{# Use renderData for overrides if available #}
{# TODO: replace with eleventyComputed #}
{% if renderData %}
  {% if renderData.title %}
    {% set title = renderData.title %}
  {% endif %}
  {% if renderData.metaDesc %}
    {% set metaDesc = renderData.metaDesc %}
  {% endif %}
  {% if renderData.socialImage %}
    {% set socialImage = renderData.socialImage %}
  {% endif %}
{% endif %}

{% set pageTitle = title + ' - ' + siteTitle  %}

{# We don't want any duplication. This is likely for the homepage #}
{% if siteTitle === title %}
  {% set pageTitle = title %}
{% endif %}

{% set currentUrl = siteUrl + page.url %}

{% if not metaDesc %}
  {% set metaDesc = summary %}
{% endif %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if socialImage %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Page image for {{ siteTitle }}" />
  <meta name="twitter:image:alt" content="Page image for {{ siteTitle }}" />
{% endif %}

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}
