<nav class="primary-nav">
  <ul class="primary-nav__list">
    <li class="primary-nav__item"><a href="/">Home</a></li>
    <li class="primary-nav__item"><a href="/about/">About</a></li>
    <li class="primary-nav__item"><a href="/books/">Books</a></li>
    <li class="primary-nav__item"><a href="/events/">Events</a></li>
    <li class="primary-nav__item"><a href="/blog/">Blog</a></li>
  </ul>
</nav>