{% if not booksLimit %}
  {% set booksLimit = booksPage.books.length %}
{% endif %}

{% if booksReverseList %}
  {% set books = booksPage.books | reverse %}
{% else %}
  {% set books = booksPage.books %}
{% endif %}

{% set booksCount = 0 %}

<ol class="booklist" style="counter-reset: start-from {{ booksPage.books.length + 1 }}">

  {% for book in books %}
    {% if booksCount < booksLimit %}
      {% set currentBook = book %}

      {% if currentBook.content.slug.current in page.url %}
        {% set booksLimit = booksLimit + 1 %}
      {% else %}

        <li class="booklist-item">
          <a href="/books/{{ currentBook.content.slug.current | slug }}/" title="{{ currentBook.content.title }}" class="booklist-link">

          {%- if currentBook.cover %}
            <img src="{{ currentBook.cover }}" width="130" height="200" alt="{{ currentBook.content.cover.alt }}" loading="lazy"/>
          {% endif -%}

          </a>
        </li>

      {% endif %}
    {% endif %}

    {% set booksCount = booksCount + 1 %}
  {% endfor %}

</ol>
