<ol class="booklist" style="counter-reset: start-from {{ booksList.length + 1 }}">

  {% for book in booksPage.books | reverse %}
    {% set currentBook = book %}

    <li class="booklist-item">
      <a href="/books/{{ currentBook.content.slug.current | slug }}/" title="{{ currentBook.content.title }}" class="booklist-link">

      {%- if currentBook.cover %}
        <img src="{{ currentBook.cover }}" alt="{{ currentBook.content.cover.alt }}" />
      {% endif -%}

      </a>
    </li>

  {% endfor %}

</ol>
