<ol reversed class="postlist" style="counter-reset: start-from {{ postsList.length + 1 }}">

{% set postCount = 0 %}
{% if not postsLimit %}
  {% set postsLimit = postsList.length %}
{% endif %}
{% for post in postsList | reverse %}
  {% if postCount < postsLimit %}
    {% set currentPost = post.data.post %}

    {% if currentPost.slug.current in page.url %}
      {% if postsList.length == 1 %}
        There are no other posts to display.
      {% else %}
        {% set postsLimit = postsLimit + 1 %}
      {% endif %}
    {% else %}
    <a href="{{ post.url | url }}" rel="noopener nofollow">
    <div class="card">
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
        
        {# <a href="{{ post.url | url }}" class="postlist-link" tabindex="-1">

        {%- if currentPost.mainImage %}
          <img src="{{ currentPost.thumbImage }}" />
        {% endif -%}

        </a> #}

        <div class="block">
          <div class="flex-row-data">
            <div class="data-label">Post</div>
            <time class="postlist-date data-label" datetime="{{ currentPost.publishedAt }}">

              {{- currentPost.publishedAt | readableDate -}}

            </time>
          </div>
          {# <a href="{{ post.url | url }}" class="postlist-link"> #}

          {%- if currentPost.title %}
            <h3>{{ currentPost.title }}</h3>
          {% endif -%}

          {# </a> #}
          
          {%- if currentPost.excerpt %}
            
            {{ currentPost.excerpt | markdownify | safe }}

            <div class="read-more">Read more &rarr;</div>
          
          {% endif -%}
          
        </div>
      </li></div></a>
    {% endif %}

  {% endif %}
{% set postCount = postCount + 1 %}
{% endfor %}
</ol>
