@charset "UTF-8";

html {
  /* general colors */
  --general-night-1: #E5E5E5;
  --general-night-2: #C0C4C8;
  --general-night-3: #707578;
  --general-night-4: #202122;
  --alpha-night: rgba(0,0,0,0.6);
  --beta-night: rgba(0,0,0,0.2);

  /* overall layout  */
  --global-br: 18px;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: calc(14px + 0.25vw);
  line-height: 1.13;
}

/* do some general stuff */

.clearfix:after {
  content: " ";
  display: block;
  clear: both; 
}

.clearfix {
  display: flow-root; 
}

img {
  border-style: none;
  vertical-align: bottom;
  display: block;
  max-width: 100%;
  height: auto;
}

.mt0 { margin-top: 0 !important;}
.mt0 { margin-bottom: 0 !important;}




/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

p {
  margin-bottom: 1.3em;
}

/* ==========================================================================
   #HEADER
   ========================================================================== */

.top-bar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: .6em;
}
.logo {
  grid-column: 2 / 5;
  line-height: 1;
  height: calc(36px + 0.25vw);
  align-self: center;
}
nav.primary-nav {
  grid-column: 5 / 12;
  overflow: visible;
  position: relative;
}
nav ul.primary-nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.primary-nav__list .primary-nav__item a {
  padding: 0 1em;
}

@media all and (max-width: 650px) {
  .top-bar {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav.primary-nav {
    grid-column: 3 / 6;
  }
  nav ul.primary-nav__list {
    flex-flow: column nowrap;
  }
}




/* ==========================================================================
   #OVERALL LAYOUT
   ========================================================================== */

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3em 1em;
  margin-bottom: 20em;
}

section, 
article {
  grid-column: 3 / 11;
}

@media all and (max-width: 650px) {
  .main {
    grid-template-columns: repeat(6, 1fr);
  }

  section,
  article {
    grid-column: 2 / 6;
  }
}

p.more-link {
  text-align:center;
}




/* ==========================================================================
   #BUTTONS
   ========================================================================== */

a.btn {
  cursor: pointer;
  line-height: 1.6;
  font-weight: bold;
  text-decoration: none;
  margin: 1.8rem 0;
  padding: .6em 1.2em;
}

a.btn--primary {
  background-color: none;
  border-color: var(--general-night-3);
  border: 2px solid var(--general-night-1);
  border-radius: var(--global-br);
  color: var(--general-night-3);
}

/* Style variants
   ========================================================================== */

a.btn--hero {
  border-color: var(--general-night-1);
  border: 2px solid var(--general-night-3);
  border-radius: var(--global-br);
  color: var(--general-night-1);
}




/* ==========================================================================
   #HERO
   ========================================================================== */

section.hero {
  grid-column: 1 / 13;
  grid-row: 1;
  background-color: var(--general-night-2);
  min-height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.hero-card {
  grid-column: 5 / 12;
  grid-row: 1;
  background-color: var(--general-night-4);
  color: var(--general-night-1);
  border-radius: var(--global-br);
  /* I'm going to try adjusting this card shape with vertical width (vw) properties later on */
  padding: 4rem;
  margin: auto;
}

.hero-card p {
  max-width: 36ch;
  line-height: 1.13;
}

@media all and (max-width: 650px) {
  section.hero {
    grid-column: 1 / 7;
  }
  .hero-card {
    grid-column: 2 / 6;
  }
}





/* ==========================================================================
   #BLOG POSTS
   ========================================================================== */

section.blog-posts {
  /* grid-column: 2 / 12; */
  margin-left: auto;
  margin-right: auto;
}

ol.postlist {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
ol.postlist li.postlist-item {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
}
ol.postlist li.postlist-item a.postlist-link {
  color: var(--general-night-4);
  display: flex;
}
ol.postlist li.postlist-item a.postlist-link img {
  object-fit: cover;
  margin: 0 1rem 0 0;
}
ol.postlist li.postlist-item .block {

}
ol.postlist li.postlist-item .block h2 {
  margin: 0;
}
ol.postlist li.postlist-item .block p {
  max-width: 60ch;
}
ol.postlist li.postlist-item time {
  color: var(--general-night-3);
}




/* ==========================================================================
   #EVENTS
   ========================================================================== */

section.events {
    /* grid-column: 2 / 12; */
}

ol.eventlist {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
}
li.eventlist-item {
  margin-bottom: .8em;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
li.eventlist-item span {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-right: .8em;
  color: var(--transparent-night);
  background-color: var(--general-night-3);
  border-radius: var(--global-br);
}
li.eventlist-item a.eventlist-link {
  max-width:30ch;
  flex: 2;
}
li.eventlits-item time.eventlist-date {
  flex: 1;
}
ol.eventlist svg {
  width: 22px;
  height: auto;
  flex: initial;
}




/* ==========================================================================
   #TIPS
   * shhhhhhh... this is a hiddent view
   ========================================================================== */

   section.tips {
    /* grid-column: 2 / 12; */
}
