html {
  --general-night-1: #E5E5E5;
  --general-night-2: #C0C4C8;
  --general-night-3: #707578;
  --general-night-4: #202122;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 22px;
  line-height: 1.13;
}
.mt0 { margin-top: 0 !important;}
.mt0 { margin-bottom: 0 !important;}

/* ==========================================================================
   #HEADER
   ========================================================================== */

.top-bar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: .6em;
}
.logo {
  grid-column: 2 / 5;
  line-height: 1;
}
nav.primary-nav {
  grid-column: 5 / 12;
  overflow: visible;
  position: relative;
}
nav ul.primary-nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.primary-nav__list .primary-nav__item a {
  padding: 0 1em;
}




/* ==========================================================================
   #LAYOUT
   ========================================================================== */

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3em 1em;
  margin-bottom: 20em;
}

section {
  grid-column: 3/11;
}

p.more-link {
  text-align:center;
}





/* ==========================================================================
   #HERO
   ========================================================================== */

section.hero {
  grid-column: 1 / 13;
  grid-row: 1;
  background-color: var(--general-night-2);
  min-height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

section.hero p {
  color: var(--general-night-1);
}





/* ==========================================================================
   #BLOG POSTS
   ========================================================================== */

section.blog-posts {
  /* grid-column: 2 / 12; */
  margin-left: auto;
  margin-right: auto;
}

ol.postlist {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
ol.postlist li.postlist-item {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
}
ol.postlist li.postlist-item a.postlist-link {
  color: var(--general-night-4);
  display: flex;
}
ol.postlist li.postlist-item a.postlist-link img {
  object-fit: cover;
  margin: 0 1rem 0 0;
}
ol.postlist li.postlist-item .block {

}
ol.postlist li.postlist-item .block h2 {
  margin: 0;
}
ol.postlist li.postlist-item .block p {
  max-width: 60ch;
}
ol.postlist li.postlist-item time {
  color: var(--general-night-3);
}




/* ==========================================================================
   #EVENTS
   ========================================================================== */

section.events {
    /* grid-column: 2 / 12; */
}

ol.eventlist {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}
li.eventlist-item {
  margin-bottom: .8em;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
li.eventlist-item a.eventlist-link {
  max-width:30ch;
}
li.eventlits-item time.eventlist-date {

}
ol.eventlist svg {
  width: 22px;
  height: auto;
  flex: initial;
}
