  @charset "UTF-8";

/* manuale-300normal - latin */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Manuale Light '),
    local('Manuale-Light'),
    url('/fonts/Manuale-Light.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-300italic - latin */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Manuale Light italic'),
    local('Manuale-Lightitalic'),
    url('/fonts/Manuale-LightItalic.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-400normal - latin */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Manuale Regular'),
    local('Manuale-Regular'),
    url('/fonts/Manuale-Regular.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-400italic - latin */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Manuale Regular italic'),
    local('Manuale-Regularitalic'),
    url('/fonts/Manuale-Italic.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-500normal - latin */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Manuale Medium '),
    local('Manuale-Medium'),
    url('/fonts/Manuale-Medium.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-500italic - latin */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Manuale Medium italic'),
    local('Manuale-Mediumitalic'),
    url('/fonts/Manuale-MediumItalic.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-600normal - latin */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Manuale Semi Bold'),
    local('Manuale-Semibold'),
    url('/fonts/Manuale-Semibold.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-600italic - latin */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Manuale Bold italic'),
    local('Manuale-bolditalic'),
    url('/fonts/Manuale-SemiBoldItalic.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-700normal - latin */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Manuale Bold '),
    local('Manuale-Bold'),
    url('/fonts/Manuale-Bold.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-700italic - latin */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Manuale Bold italic'),
    local('Manuale-bolditalic'),
    url('/fonts/Manuale-BoldItalic.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-800normal - latin */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Manuale Extra Bold '),
    local('Manuale-Extrabold'),
    url('/fonts/Manuale-ExtraBold.woff2') format('woff2'); /* Super Modern Browsers */
}

/* manuale-800italic - latin */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Manuale Extra Bold italic'),
    local('Manuale-Extrabolditalic'),
    url('/fonts/Manuale-ExtraBoldItalic.woff2') format('woff2'); /* Super Modern Browsers */
}

/* ibm plex sans variable regular */
@font-face {
  font-family: 'IBM Plex Sans Var Regular';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  font-stretch: 85% 100%;
  src: url('/fonts/IBMPlexSansVar-Roman.woff2') format('woff2');
}

/* ibm plex sans variable italic */

@font-face {
  font-family: 'IBM Plex Sans Var Italic';
  font-style: italic;
  font-weight: 100 700;
  font-stretch: 85% 100%;
  font-display: swap;
  src: url('/fonts/IBMPlexSansVar-Italic.woff2') format('woff2');
}

:root {
  /* general colors */
  --general-night-1: #E5E5E5;
  --general-night-2: #C0C4C8;
  --general-night-3: #707578;
  --general-night-3ish: #2a2b2d;
  --general-night-4: #202122;
  --general-night-5: black;
  --alpha-night: rgba(32, 33, 34, 0.6);
  --beta-night: rgba(32, 33, 34, 0.2);
  --gamma-night: rgba(32, 33, 34, 0.1);
  --alpha-light: rgba(255, 255, 255, 0.8);
  --beta-light: rgba(255, 255, 255, 0.6);
  --gamma-light :rgba(255, 255, 255, 0.4);

  /* manu theme colors */
  --manu-moon-1: #FEECAF;
  --manu-moon-2: #F4D050;
  --manu-moon-3: #A69145;
  --manu-earth-1: #CEDAA4;
  --manu-earth-2: #92C589;
  --manu-earth-3: #73A475;
  --manu-blood-1: #FBC3A7;
  --manu-blood-2: #E99198;
  --manu-blood-3: #A35048;

  /* rho theme colors */
  --rho-cancer-1: #CEE7F5;
  --rho-cancer-2: #71ACD3;
  --rho-cancer-3: #4781A2;
  --rho-ophiuchus-1: #FAE0C2;
  --rho-ophiuchus-2: #F3C691;
  --rho-ophiuchus-3: #EBAB60;
  --rho-capricorn-1: #F9F0D1;
  --rho-capricorn-2: #F6E091;
  --rho-Capricorn-3: #335A6F;
  --rho-aquarius-1: #D9C0DE;
  --rho-aquarius-2: #AA83AC;
  --rho-aquarius-3: #734A85;
  --rho-libra-1: #F3DEDB;
  --rho-libra-2: #E4BAB4;
  --rho-libra-3: #2B4274;

  /* Font families */
  --body-font: 'Manuale', georgia;
  --utility-font: 'IBM Plex Sans Var Regular', sans-serif;

  /* font weights */
  --body-light: 300;
  --body-regular: 400;
  --body-medium: 500;
  --body-semi-bold: 600;
  --body-bold: 700;
  --body-extra-bold: 800;

  /* overall layout  */
  --large-br: 18px;
  --small-br: 8px;
  --g-margin-top: 4em;

  color-scheme: light dark; /* both supported */
}

/* Reset rule */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.s-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99;
}

.skip-link:not(:focus), .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

html,
body {
  height: 100%;
}
body {
  display:flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  font-weight: var(--body-light);
  font-size: 100%;
  font-size: calc(100% + (20 - 16) * ( (100vw - 300px) / (1400 - 300)));
  line-height: 1.5;
  line-height: calc((1.3 * 1em) + (1.5 - 1.3) * ( (100vw - 300px) / (1400 - 300)));
  color: var(--general-night-4);
}

h1,
h2,
h3 {
  font-family: 'Manuale', georgia;
  font-weight: var(--body-extra-bold);
  line-height: 1.1;
}

h1 {
  font-size: calc(1.5rem + 1.2vw);
}

h2 {
  font-size: calc(1.2rem + 1.2vw);
  font-weight: var(--body-bold);
}

h3 {
  /* font-size: calc(1.1rem + 1.2vw); */
  font-weight: var(--body-semi-bold);
}

a {
  color: var(--rho-cancer-3);
}
/* a,
a:visited {
  color: var(--general-night-4);
} */

figure {
  margin: 0;
}

figcaption {
  font-style: italic;
  font-size: calc(0.86rem + 0.25vw);
  margin-top: 0.6rem;
}

/* do some general stuff */

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix {
  display: block;
  display: flow-root;
}

img {
  border-style: none;
  /* vertical-align: bottom; */
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.caption,
em {
  font-style: italic;
}

.mt0 { margin-top: 0 !important;}
.mb0 { margin-bottom: 0 !important;}

p {
  margin: 1.3em 0;
  line-height: 1.5;
}
p:first-of-type {
  margin-top: .8em;
}

li {
  margin: .4em 0;
}

article h1 {
  /* font-size: calc(36px + .25vw); */
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

article {
  padding-bottom: 5rem;
}

blockquote {
  border-left: 6px solid var(--general-night-2);
  margin-left: 2rem;
}

blockquote p {
  font-style: italic;
  padding-left: 1em;
  color: var(--general-night-3);
}

span.env-pill-test {
  color: var(--rho-aquarius-3);
  background-color: var(--rho-aquarius-3);
  padding: 4px 12px;
  border-radius: 50px;
}

span.env-pill-dev {
  color: var(--rho-cancer-3);
  background-color: var(--rho-cancer-1);
  padding: 4px 12px;
  border-radius: 50px;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--general-night-5);
    color: var(--general-night-2);
  }
  img,
  svg,
  picture {
    filter: brightness(.7) contrast(1.2);
  }

  svg.social-icon {
    filter: brightness(1.4);
  }

  img:hover,
  svg:hover,
  picture:hover {
    filter: brightness(.9) contrast(1.1);
  }
  blockquote p {
    color: var(--general-night-2);
  }
}

/* YouTube embed */
iframe.yt-shortcode {
    aspect-ratio: 16 / 9;
    width: 100%;
}


/* ==========================================================================
   #CUSTOM LAYOUTS
   * 404 & Link in Bio pages
   ========================================================================== */

section.biolinks {
  background-color: var(--rho-aquarius-1);
  background: -webkit-linear-gradient(to bottom, var(--rho-aquarius-1), var(--rho-aquarius-2));
  background: linear-gradient(to bottom, var(--rho-aquarius-1), var(--rho-cancer-1));
  margin: 0;
  padding: 3rem 0 4rem;
}

section.biolinks figure {
  grid-column: 1 / 13;
  justify-self: center;
}

section.biolinks figure img,
section.biolinks figure figcaption {
  border-radius: 100%;
  max-width: 150px;
  text-align: center;
  font-size: 120%;
}

section.biolinks ol.social-icons {
  grid-column: 1 / 13;
  justify-self: center;
}

.large-card-wrapper {
  grid-column: 3 / 11;
}

.large-card-wrapper .card:hover,
.large-card-wrapper .card {
  background-color: var(--alpha-light);
  background: -webkit-linear-gradient(to top, var(--beta-light), var(--gamma-light));
  background: linear-gradient(to top, var(--beta-light), var(--gamma-light));
}

.large-card-wrapper .card p {
  font-size: 120%;
  font-weight: var(--body-bold);
  color: var(--general-night-3);
}

.large-card-wrapper ol li a .card p {
  font-size: 120%;
  font-weight: var(--body-bold);
  color: var(--general-night-3);
}

@media all and (max-width: 800px) {
  .large-card-wrapper {
    grid-column: 2 / 12;
    padding: 1rem;
  }
}

@media all and (max-width: 650px) {
  .large-card-wrapper {
    grid-column: 1 / 13;
  }
}

.large-card-wrapper .card {
 padding: 1rem 1.8rem;
 margin-bottom: .6rem;
}

.large-card-wrapper ol {
  padding-left: 0;
}

.large-card-wrapper ol li {
  list-style: none;
}

.large-card-wrapper ol li a,
.large-card-wrapper ol li a:visited {
  color: var(--general-night-4);
}

.medium-card-wrapper {
  grid-column: 2 / span 6; 
  grid-row: 2 / 3;
  /* Max-width: 60ch; */
}

.medium-card-wrapper .card {
  padding: 1rem 1.4rem;
  margin-bottom: 1.2rem;
}

figure.large-figure {
  grid-column: 6 / 12;
  grid-row: 1 / 6;
}

@media all and (max-width: 800px) {
  .medium-card-wrapper {
    grid-column: 2 / 12;
  }
  figure.large-figure {
    grid-column: 1 / 13;
  }
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  section.biolinks {
    background: none; 
  }

  section.biolinks figure figcaption {
    color: var(--general-night-2);
  }

  .large-card-wrapper .card {
    background: none;
  }

  .large-card-wrapper .card:hover {
    background: none;
  }

  .large-card-wrapper .card p {
    color: var(--general-night-2);
  }
}



/* ==========================================================================
   #CARD(s)
   ========================================================================== */

.card {
  border: 1px solid var(--general-night-2);
  padding: 2rem 2rem 3rem;
  border-radius: var(--small-br);
  /* background-color: var(--alpha-light); */
  /* background: -webkit-linear-gradient(to top, var(--alpha-light), var(--beta-light));
  background: linear-gradient(to top, var(--alpha-light), var(--beta-light)); */
  /* backdrop-filter: blur(8px); */
}

a:hover .card {
  border: 1px solid var(--general-night-3);
}

a:active .card {
  border: 1px solid var(--general-night-2);
}


.flex-row-data {
  display:flex;
  justify-content:space-between;
  font-family: var(--utility-font);
  color: var(--general-night-3);
}

.card-data-label {
  text-transform: uppercase;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  .card {
    border:1px solid var(--general-night-3);
  }

  ol.postlist a div.card li.postlist-item div.block p {
    color: var(--general-night-2);
  } 
}


/* ==========================================================================
   #HEADER
   ========================================================================== */
.top-bar-wrapper {
  display:grid;
  grid-template-columns: repeat(12,1fr);
  margin-top: .8rem;
  margin-bottom: .8rem;
}
.top-bar {
  grid-column: 3 / 11;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: .8em;
}

.logo a svg {
  width: 3rem;
}
.logo span.view-mode {
  vertical-align: middle;
}
nav.primary-nav, nav.footer-nav {
  overflow: visible;
  position: relative;
  font-family: var(--body-font);
  font-weight: 430;
  font-stretch: 90%;
}
nav ul.primary-nav__list, nav ul.footer-nav__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: .4em 0;
  align-items: center;
  font-size: 110%;
}

.primary-nav__list .primary-nav__item a,
.footer-nav__list .footer-nav__item a {
  padding: .4em 1.2em;
  text-decoration: underline;
  color: var(--rho-cancer-3);
}

.primary-nav__list li a.btn {
  margin: .8em 1em .5em;
}

.primary-nav__list .primary-nav__item a:hover,
.primary-nav-mobile__list .primary-nav-mobile__item a:hover,
.footer-nav__list .footer-nav__item a:hover {
  opacity: 0.8;
}

.primary-nav-hamburger {
  display: none;
  right: 20px;
  position: absolute;
  vertical-align: top;
}
.primary-nav-btn {
  text-indent: -9999px;
  position: relative;
  width: 25px;
  height: 40px;
  border: 0;
  background: none;
  cursor: pointer;
}

.primary-nav-btn::before,
.primary-nav-btn::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(---general-night-4ish);
  transition: background-color 0.3s, transform 0.3s ease-in;
}
.primary-nav-btn::before,
.primary-nav-btn::after {
  background-color: var(--general-night-4);
}
.primary-nav-btn::before {
  transform: translateY(15px);
}
.primary-nav-btn::after {
  transform: translateY(23px);
}
.primary-nav-btn.active::before {
  transform: translate(0, 20px) rotate(45deg);
}
.primary-nav-btn.active::after {
  transform: translate(0, 20px) rotate(-45deg);
}
.primary-nav-btn.active::before,
.primary-nav-btn.active::after {
  background-color: white;
}
.primary-nav-mobile {
  background-color: var(--general-night-3ish);
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: inherit;
  left: 0;
  top: -100%;
  text-align: left;
  -webkit-transition: top .3s, z-index .3s; /* Safari */
  transition: top .3s, z-index .3s;
  z-index: -1;
}
.primary-nav-mobile ul {
  margin: 0;
  padding: 100px 3em 30px;
}
.primary-nav-mobile li {
  list-style-type: none;
  font-size: calc(24px + 0.25vw);
  margin-top: 50px;
  opacity: 0;
  padding: 1.4rem 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.primary-nav-mobile.active li {
  margin-top: 0;
  opacity: 1;
  -webkit-transition: margin-top .3s, opacity .6s;
  transition: margin-top .3s, opacity .6s;
}
.primary-nav-mobile li a {
  color: white;
  display: block;
  font-weight: 400;
  text-decoration: none;
}

.primary-nav-mobile li.nav-button a {
  background-color: var(--general-night-4);
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 20px;
  font-size: calc(20px + 0.25vw);
  text-align: center;
  opacity: .8;
  margin-left: -1em;
  padding: .7em 1em .8em;
}


@supports (font-variation-settings: normal) {
  .primary-nav-mobile li.nav-button a {
    font-family: var(--utility-font);
    font-weight: 430;
    font-stretch: 90%;
  }
}

.primary-nav-mobile li.nav-button a:hover {
  background-color: black;
}

.primary-nav-mobile li.nav-social .social-icons {
  padding: 0;
}
.primary-nav-mobile li.nav-social .social-icons li {
  display: inline-flex;
  padding-right: 1em;
}
.primary-nav-mobile li.nav-social .social-icons svg {
  fill: white;
  height: 24px;
}
.primary-nav-mobile li.nav-social .social-icons svg path, .primary-nav-mobile li.nav-social .social-icons svg circle {
  fill: white !important;
}
.primary-nav-mobile li.nav-social .social-icons svg:hover {
  opacity: 0.8;
}

.primary-nav-mobile.active li:nth-of-type(1) {
  transition-delay: .3s;
}
.primary-nav-mobile.active li:nth-of-type(2) {
  transition-delay: .35s;
}
.primary-nav-mobile.active li:nth-of-type(3) {
  transition-delay: .4s;
}
.primary-nav-mobile.active li:nth-of-type(4) {
  transition-delay: .45s;
}
.primary-nav-mobile.active li:nth-of-type(5) {
  transition-delay: .5s;
}
.primary-nav-mobile.active li:nth-of-type(6) {
  transition-delay: .55s;
}
.primary-nav-mobile.active li:nth-of-type(7) {
  transition-delay: .60s;
}

@media all and (max-width: 800px) {
  .top-bar {
    grid-column: 2 / 12;
  }
}

@media all and (max-width: 650px) {
  .top-bar, article {
    grid-template-columns: repeat(6, 1fr);
  }

  .top-bar {
    grid-column: 1 / 13;
  }

  .logo {
    z-index: 25;
    margin-left: 1rem;
  }

  .logo svg {
    width: auto;
  }

  nav.primary-nav {
    position: absolute;
    width: 100%;
    z-index: 20;
    margin-right: 1rem;
  }

  nav ul.primary-nav__list {
    display: none;
  }

  nav.footer-nav {
    grid-column: 3 / 6;
  }

  nav ul.footer-nav__list {
    flex-flow: column nowrap;
  }

  .primary-nav-hamburger {
    display: inline-block;
  }

  .primary-nav-mobile.active {
    top: 0;
    -webkit-transition: top .5s; /* Safari */
    transition: top .5s;
    z-index: 20;
  }
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  span.view-mode::before {
    content: '🐺 ';
  }

  span.view-mode::after {
    content: 'Lobizonas are real';
    font-style: italic;
  }
  
  .primary-nav__list .primary-nav__item a,
  .footer-nav__list .footer-nav__item a {
    color: var(--general-night-1);
  }

  .primary-nav-btn::before,
  .primary-nav-btn::after {
    background-color: var(--general-night-1);
  }  
}



/* ==========================================================================
   #OVERALL LAYOUT
   ========================================================================== */

.main {
  /* margin-bottom: 3em; */
  flex: 1 0 auto;
}

section,
footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem 2rem;
  /* margin: 0 1em 5em; */
}

footer,
.footer {
  flex-shrink: 0;
  margin: 0 0 0;
}

article .eventinfo {
  max-width: 80ch;
}

.eventinfo h1 {
  margin-bottom: 1.6rem;
}

/* Add this class to an element to make it fill the width of the screen
and sit horizontally central like this tutorial - https://codepen.io/andybelldesign/pen/vYOJjNw?editors=1100 */
.full-bleed {
  margin-left: calc(50% - 50vw);
}

.more-link {
  /* text-align:center; */
  grid-row: 2;
  grid-column: 1 / 13;
  display: flex;
  justify-content: center;
}

footer {
  background-color: var(--rho-cancer-1);
}

footer .footer-content {
  grid-column: 3 / 11;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2em 0;
}

footer .footer-content div ol.social-icons,
section.biolinks ol.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer .footer-content div ol.social-icons li,
section.biolinks ol.social-icons li {
  margin-right: .8em;
  align-self: center;
}

footer .footer-content div ol.social-icons li a svg.social-icon,
li a svg.social-icon {
  fill: var(--rho-cancer-3);
  height: 24px;
}

footer .footer-content div ol.social-icons li a svg.twitter,
li a svg.twitter {
  fill: #76A9EA;
}

footer .footer-content div ol.social-icons li a svg.facebook,
li a svg.facebook {
  fill: #475993;
  fill: #475993;
  enable-background:new 0 0 408.788 408.788;
}

footer .footer-content div ol.social-icons li a svg.instagram,
li a svg.instagram {
  enable-background:new 0 0 551.034 551.034;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

footer .footer-content div ol.social-icons li a svg.social-icon:hover,
li a svg.social-icon:hover {
  opacity: 0.8;
}

footer .footer-content nav.footer-nav ul.footer-nav__list {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
  margin-top: -0.2em;
}

footer .footer-content nav.footer-nav ul.footer-nav__list li {
  padding: 0 0 .8em 0;
}

@media all and (max-width: 800px) {
  footer .footer-content,
  .editing{
    grid-column: 2 / 12;
  }
  footer .footer-content .footer-column .footer-newsletterform {
    margin-bottom: 1.8em;
  }
}

@media all and (max-width: 650px) {
  article > * {
    padding: 0 1rem;
  }
  .editing {
    grid-column: 1 / 13;
    padding-inline: 1rem;
  } 
  footer .footer-content {
    grid-column: 1 / 13;
    padding: 2rem 1rem;
    flex-flow: column-reverse nowrap;
  }
  footer .footer-content nav.footer-nav {
    order: 3;
  }
  .footer-nav__list .footer-nav__item a {
    padding-left: 0;
  }

}

@media (prefers-color-scheme: dark) {
  footer {
    background-color: #060E13;
  }
}



/* ==========================================================================
   #INSTAGRAM FEED
   ========================================================================== */

section.instagram-feed {
  padding: 4rem 0 5rem;
}

section.instagram-feed ol {
  display: grid;
  grid-column: 2/12;
  list-style: none;
  grid-gap: 1.5em 1em;
  padding: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

section.instagram-feed li {
  grid-row: 1;
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  overflow: hidden;
  width: 200px;
  border: 1px solid var(--general-night-2);
  scroll-snap-align: start;
}

section.instagram-feed img {
  min-height: 200px;
  min-width: 200px;
  object-fit: cover;
}

@media all and (max-width: 650px) {
  section.instagram-feed ol {
    grid-column: 1 / 13;
    padding: 0 1rem;
  }
}




/* ==========================================================================
   #NEWSLETTER SIGNUP FORM
   ========================================================================== */

form.newsletter-sign-up label span.data-label {
  color: var(--rho-cancer-3);
}

.email-form {
  display: flex;
  margin: .8rem 0;
  flex-direction: column;
  gap: .6rem;
}

.email-field,
.name-field,
.message-field,
button.email-btn,
button.inquiry-btn {
  padding: .6em;
  border: 2px solid var(--rho-cancer-3);
  font-size: smaller;
  font-family: inherit;
}

.email-field,
.message-field,
.name-field {
  border-radius: var(--large-br);
  /* border-bottom-left-radius: var(--large-br); */
  background-color: transparent;
  flex-basis: 100%;
}
.message-field {
  margin-bottom: 1rem;
}

.name-field,
.message-field,
form.editing-services-interest .email-field {
  border-radius: var(--large-br);
  /* border-bottom-right-radius: var(--large-br); */
}

.name-field::-webkit-input-placeholder,
.message-field::-webkit-input-placeholder,
.email-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--rho-cancer-3);
}
.name-field::-moz-placeholder,
.message-field::-moz-placeholder,
.email-field::-moz-placeholder { /* Firefox 19+ */
  color: var(--rho-cancer-3);
}
.name-field:-ms-input-placeholder,
.message-field:-ms-input-placeholder,
.email-field:-ms-input-placeholder { /* IE 10+ */
  color: var(--rho-cancer-3);
}
.name-field:-moz-placeholder,
.message-field:-moz-placeholder,
.email-field:-moz-placeholder { /* Firefox 18- */
  color: var(--rho-cancer-3);
}

button.email-btn,
button.inquiry-btn {
  border-radius: var(--large-br);
  /* border-bottom-right-radius: var(--large-br); */
  cursor: pointer;
  background-color: transparent;
  font-family: var(--utility-font);
  color: var(--rho-cancer-3);
  font-weight: 542;
  position: relative;
}

button.email-btn {
  border-left: none;
}

button.inquiry-btn {
  border-top-left-radius: var(--large-br);
  border-bottom-left-radius: var(--large-br);
  background-color: var(--rho-cancer-3);
  color: whitesmoke;
}


button.email-btn {
  left: -2px;
}

button.email-btn:hover,
button.inquiry-btn:hover {
  opacity: 0.8;
}

textarea.message-field {
  resize: vertical; /* Allow resizing only vertically */
  overflow: hidden; /* Prevent scrollbars */
  min-height: 4rem; /* Set a minimum height */
  margin-top: .4rem;
}

@media all and (max-width: 650px) {
  .email-form {
    flex-direction: column;
  }

  .email-field,
  .name-field,
  button.email-btn {
    border-radius: var(--large-br);
    margin-bottom: .8rem;
    border-left: 2px solid var(--rho-cancer-3);
  }
}

@media (prefers-color-scheme: dark) {
  .email-field,
  .name-field,
  .message-field {
    color: var(--rho-cancer-1);
  }

  .email-field::-webkit-input-placeholder,
  .name-field::-webkit-input-placeholder,
  .message-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--rho-cancer-2);
  }
  .email-field::-moz-placeholder,
  .name-field::-webkit-input-placeholder,
  .message-field::-webkit-input-placeholder { /* Firefox 19+ */
    color: var(--rho-cancer-2);
  }
  .email-field:-ms-input-placeholder,
  .name-field::-webkit-input-placeholder,
  .message-field::-webkit-input-placeholder { /* IE 10+ */
    color: var(--rho-cancer-2);
  }
  .email-field:-moz-placeholder,
  .name-field::-webkit-input-placeholder,
  .message-field::-webkit-input-placeholder { /* Firefox 18- */
    color: var(--rho-cancer-2);
  }
}




/* ==========================================================================
   #BUTTONS
   ========================================================================== */
.btn,
a.btn,
a.btn:active,
button.btn{
  cursor: pointer;
  /* line-height: 1.6; */
  line-height: 1;
  font-weight: bold;
  text-decoration: none;
  /* margin: 1.6rem .4rem 1.6rem 0; */
  padding: .6em 1.2em;
  font-size: calc(14px + 0.25vw);
  font-family: sans-serif;
  font-weight: 500;
  font-stretch: 85;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

@supports (font-variation-settings: normal) {
  .btn,
  a.btn,
  a.btn:active,
  button.btn {
    font-family: var(--utility-font);
    font-weight: 542;
    font-stretch: 85;
  }
}

.btn:hover,
a.btn:hover,
button.btn:hover {
  opacity: 0.8;
  transition: 0.4s;
}
.btn--primary,
a.btn--primary,
button.btn--primary {
  background-color: none;
  background: none;
  border-color: var(--general-night-3);
  border: 2px solid var(--general-night-3);
  border-radius: var(--large-br);
  color: var(--general-night-3);
}

.btn--secondary,
a.btn--secondary,
button.btn-secondary {
  background-color: none;
  border: 2px solid var(--general-night-3);
  border-radius: var(--large-br);
  color: var(--general-night-3);
}

.btn--posts,
a.btn-posts {
  border: 2px solid var(--rho-cancer-3);
  color: var(--rho-cancer-3);
  border-radius: var(--large-br);
}

.btn--photos,
a.btn-photos {
  border: 2px solid var(--manu-earth-3);
  color: var(--manu-earth-3);
  border-radius: var(--large-br);
}.bt

/* a.btn--secondary svg, */
.btn svg,
a.btn svg {
  margin-inline-start: 0.6em;
  /* margin: 0 0 0 .6em; */
  height: 1.4em;
  stroke: currentColor;
  transform: translateY(-1px); /* Optical adjustment */
}

.btn--secondary:hover,
a.btn--secondary:hover,
button.btn--secondary:hover {
  background-color: iherit;
}

.emoji-action {
  font-size: 130%;
  vertical-align: middle;
}

/* css only partially accessible dropdown button */
.vh { 
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: .6em 1.2em;
  overflow: hidden;
}

[data-menu-component] {
  position: relative;
  display: inline-block;
}

label {
  display: inline-block;
}

[role="menu"] {
  z-index: 100;
}

[role="menu"] ul {
  list-style: none;
  margin: 0;
  padding: .4em 0 .8em;
  display: flex;
  flex-direction: column;
  border-radius: var(--large-br);
  font-size: calc(14px + .25vw);
  font-family: sans-serif;
  font-weight: 500;
  min-width: 18ch;
}

@supports (font-variation-settings: normal) {
  [role="menu"] ul {
    font-family: var(--utility-font);
    font-weight: 542;
  }
}

[role="menu"] ul li {
  padding: .2em 1.2em;
}

[role="menu"] ul li a:hover {
  opacity: 0.8;
}

[type="checkbox"]:focus + [data-opens-menu], [role="menu"] a:focus {
  outline: 3px solid #0049ca;
  /* background: white; */
}

:checked + label .expanded-text {
  display: inline;
}

:checked + label .collapsed-text {
  display: none;
}

[type="checkbox"]:not(:checked) + label .expanded-text {
  display: none;
}

[type="checkbox"]:not(:checked) + label .collapsed-text {
  display: inline;
}

[role="menu"] {
  position: absolute;
  left: 0;
  display: none;
}

:checked ~ [role="menu"] {
  display: block;
}

[data-menu-origin="right"] {
  left: auto;
  right: 0;
}

[role="menu"] a {
  display: block;
  min-width: 100%;
  margin-top: 0.125rem;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style variants
   ========================================================================== */

.btn--hero,
a.btn--hero {
  /* border: 2px solid var(--manu-blood-1); */
  border: 2px solid white;
  border-radius: var(--large-br);
  /* color: var(--manu-blood-1); */
  color: white;
}

.btn--featured-book,
a.btn--featured-book {
  color: var(--manu-moon-3);
  border: 2px solid var(--manu-moon-3);
  border-radius: var(--large-br);
  margin: 0 .6em .4em 0;
}

.btn--text-only,
a.btn--text-only {
  border: 2px solid transparent;
}

@media (prefers-color-scheme: dark) {
  .btn--featured-book,
  a.btn--featured-book,
  .btn svg,
  a.btn svg {
    filter: brightness(1.4);
  }
  [role="menu"] ul {
    background-color: var(--general-night-5) !important;
    filter: brightness(1.4);
  }
  .btn--primary,
  a.btn--primary,
  button.btn--primary {
    border-color: var(--general-night-2);
    border: 2px solid var(--general-night-2);
    color: var(--general-night-2);
  }
}



/* ==========================================================================
   #HERO
   ========================================================================== */

section.hero {
  background-color: var(--manu-blood-1);
  min-height: 30rem;
  margin: 0;
}

.hero-background {
  grid-column: 1 / 13;
  grid-row: 1;
  /* background-image: url(../images/lobizona-star-field.jpg);  */
  background-size: cover;
  background-color: #4f3332;
}

/* animation effects for hero bkg */
.hero-overlay {
  z-index: 2;
  grid-column: 1 / 13;
  grid-row: 1;
  background:
    linear-gradient(
      rgba(251, 195, 167, 0.45),
      rgba(233, 145, 152, 0.45),
      rgba(163, 80, 72, 0.45)
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hero-background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* min-height: 100%; */
  max-height: 80vh;
}

.hero-card {
  grid-column: 7 / 13;
  grid-row: 1;
  color: white;
  background-color: var(--alpha-night);
  background: rgb(32,33,34);
  background: linear-gradient(to left,
  rgba(32,33,34,.60) 20%,
  rgba(32,33,34,.57) 25%,
  rgba(32,33,34,.55) 35%,
  rgba(32,33,34,.54) 40%,
  rgba(32,33,34,.52) 45%,
  rgba(32,33,34,.5) 50%,
  rgba(32,33,34,.47) 55%,
  rgba(32,33,34,.42) 60%,
  rgba(32,33,34,.35) 65%,
  rgba(32,33,34,.33) 70%,
  rgba(32,33,34,.25) 75%,
  rgba(32,33,34,.17) 80%,
  rgba(32,33,34,.12) 85%,
  rgba(32,33,34,.08) 90%,
  rgba(32,33,34,.03) 95%,
  rgba(32,33,34,0) 100%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
}

.hero-card h1 {
  margin: 0;
  line-height: 1.1;
}

.hero-card p {
  max-width: 36ch;
  margin-bottom: 1.3em;
}

.hero-card ol.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.3em;
  display: flex;
}

.hero-card ol.social-icons li {
  margin-right: .4em;
  align-self: center;
}

.hero-card ol.social-icons li a svg.social-icon {
  fill: var(--rho-libra-1);
  height: 24px;
}
.hero-card ol.social-icons li a svg.social-icon:hover {
  opacity: 0.8;
}

@media all and (max-width: 800px) {
  .hero-card {
    padding: 3rem;
  }
}

@media all and (max-width: 650px) {
  .hero-card {
    grid-column: 1 / 13;
    border-radius: var(--large-br);
    padding: 2rem 2rem 2.2rem;
    justify-content: flex-end;
    border-radius: 0;
    background: linear-gradient(to top,
    rgba(32,33,34,.48) 20%,
    rgba(32,33,34,.35) 25%,
    rgba(32,33,34,.33) 35%,
    rgba(32,33,34,.27) 40%,
    rgba(32,33,34,.22) 45%,
    rgba(32,33,34,.18) 50%,
    rgba(32,33,34,.12) 55%, 
    rgba(32,33,34,.10) 60%,
    rgba(32,33,34,.08) 65%,
    rgba(32,33,34,.06) 70%,
    rgba(32,33,34,.05) 85%,
    rgba(32,33,34,.04) 90%,
    rgba(32,33,34,.03) 93%,
    rgba(32,33,34,.02) 95%,
    rgba(32,33,34,.01) 98%,
    rgba(32,33,34,0) 100%);
    }
  }

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  section.hero {
    margin-bottom: 3rem;
  }
  .hero-overlay {
    background:
    linear-gradient(
      rgba(251, 195, 167, 0.25),
      rgba(233, 145, 152, 0.25),
      rgba(163, 80, 72, 0.25)
    );
  }
}



/* ==========================================================================
   #ABOUT PAGE
   ========================================================================== */

section.bio {
  padding: 4rem 0 5rem;
}

section.bio figure {
  grid-column: 3 / 7;
  z-index: 10;
}

section.bio figure::after {
  content: "  ";
  background-color: gray;
  grid-column: 2 / 8;
  z-index: 100;
}

section.bio .bio-text {
  grid-column: 7 / 11;
  max-width: 60ch;
  display: inline;
}

section.bio .bio-text p {
  display: inline;
}

.bio-text div article {
  padding-bottom: 2rem;
}

span.all-small-caps {
  font-family: sans-serif;
  font-weight: 800;
  font-variant-caps: all-small-caps;
}

@supports (font-variation-settings: normal) {
  span.all-small-caps {
    font-family: var(--utility-font);
    font-weight: 1000;
  }
}

@media all and (max-width: 800px) {
  section.bio {
    padding: 2rem 0 5rem;
  }
  
  section.bio figure {
    grid-column: 2 / 7;
  }

  section.bio .bio-text {
    grid-column: 7 / 12;
    max-width: 60ch;
  }
}

@media all and (max-width: 650px) {
  section.bio figure {
    grid-column: 1 / 13;
  }

  section.bio article > * {
    padding: 0px;
  }

  section.bio .bio-text {
    grid-column: 1 / 13;
    max-width: 60ch;
  }

  .bio-text,
  section.bio figure figcaption,
  section.bio figure p.download-link {
    margin: .8rem 1rem;
  }
}

p.download-link {
  margin-top: .8em;
}

p.download-link a,
p.download-link a:visited {
  color: var(--general-night-4);
}

span.data-label,
.data-label {
  font-family: sans-serif;
  font-weight: 500;
  font-variant-caps: small-caps;
  color: var(--general-night-4);
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: smaller;
}

@supports (font-variation-settings: normal) {
  span.data-label,
  .data-label {
    font-family: var(--utility-font);
    /* color: var(--general-night-2); */
    font-weight: 550;
    font-stretch: 85%;
  }
}

section.bio figure p span.data-label,
section.bio .data-label,
div.agent span.data-label,
div.publishers span.data-label,
section.series-data span.data-label {
  color: var(--general-night-3);
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  p.download-link a,
  p.download-link a:visited {
    color: var(--general-night-2);
  }
  
  .data-label, 
  span.data-label {
    /* filter: brightness(1.4); */
    color: var(--general-night-2);
  }
}




/* ==========================================================================
   #BLOG POSTS
   ========================================================================== */

section.blog-posts {
  padding: 4rem 0 5rem;
  /* margin: 0 0 5rem; */
} 

section.posts {
  padding: 4rem 0 5rem;
}

section.blog-post {
  padding: 2rem 0 0;
  margin: 0;
}

article {
  grid-column: 4 / 10;
}

section.blog-post article figure img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

section.blog-posts .more-link {
  grid-row: 2;
  grid-column: 4 / 10;
}

.more-link svg {
  stroke: var(--general-night-3);
}

/* article {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
} */

@media all and (max-width: 1024px) {
  article {
    grid-column: 3 / 11;
  }
}

@media all and (max-width: 800px) {
  article {
    grid-column: 3 / 11;
  }
}

@media all and (max-width: 650px) {
  article {
    grid-column: 1 / 13;
  }
}

ol.postlist {
  grid-column: 3 / 11;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

ol.postlist li.postlist-item {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
}

li.postlist-item .block h3 {
  margin: .4em 0 1em;
  font-size: calc(1.1rem + .4vw);;
}

ol.postlist li.postlist-item:last-child {
  margin-bottom: 0;
}

ol.postlist li.postlist-item a.postlist-link h3 {
  color: var(--general-night-4);
  display: flex;
}

ol.postlist li.postlist-item a.postlist-link img {
  object-fit: cover;
  margin: 0 1rem 0 0;
  width: 300px;
  height: 160px;
  border-radius: var(--large-br);
}

ol.postlist a {
  text-decoration: none;
}

ol.postlist a div.card {
  height: 100%;
}

ol.postlist a div.card li p {
  color: var(--general-night-4);
}

ol.postlist a div.card li time {
  color: var(--general-night-3);
}

ol.postlist a div.card li div.block .read-more,
ol.postlist a div.card li div.block h3 {
  text-decoration: underline;
  margin-top: .8rem;
  color: var(--rho-cancer-3);
}

.read-more {
  font-weight: 380;
}

@media all and (max-width: 1300px) {
  ol.postlist {
    grid-column: 2 / 12;
  }
}

@media all and (max-width: 1000px) {
  ol.postlist {
    grid-column: 2 / 12;
  }
}

@media all and (max-width: 650px) {
  ol.postlist {
    grid-column: 1 / 13;
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }
  ol.postlist li.postlist-item {
    flex-direction: column;
  }
  ol.postlist li.postlist-item a.postlist-link img {
    height: 140px;
    width: 100%;
    margin-bottom: .8em;
  }
}

/* ol.postlist li.postlist-item .block a.postlist-link {
  text-decoration: none;
} */

ol.postlist li.postlist-item .block a.postlist-link h2,
ol.postlist li.postlist-item .block a.postlist-link h3,
.eventlist-item__data a h3 {
  margin: .6rem 0;
}

ol.postlist li.postlist-item .block p {
  max-width: 60ch;
  display: inline;
}

ol.postlist li.postlist-item time {
  color: var(--general-night-3);
}




/* ==========================================================================
   #EVENTS
   ========================================================================== */

section.events {
  padding: 4rem 0 5rem;
}

section.intro p {
  grid-column: 3 / 11;
}

article.events .more-link {
  grid-column: 3 / 11;
  grid-row: 2;
}

ol.eventlist,
section.events p {
  grid-column: 4 / 10;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
}
li.eventlist-item {
  margin-bottom: .8em;
  padding: 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
}

li.eventlist-item span h2 {
  font-family: sans-serif;
}

@supports (font-variation-settings: normal) {
  li.eventlist-item span h2 {
    font-family: var(--utility-font);
  }
}

li.eventlist-item .eventlist-item__data {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

li.eventlist-item .eventlist-item__links {
  display: flex;
  align-items: center;
}



@media all and (max-width: 650px) {
  section.events {
    margin: 0 1rem;
  }
  ol.eventlist,
  section.events p {
    grid-column: 2 / 12;
  }
  li.eventlist-item {
    flex-direction: row wrap;
  }
  li.eventlist-item .eventlist-item__data {
    flex-direction: column;
  }
}

/* style the past events */
li.eventlist-item-past a{
  text-decoration: line-through;
}

ol > li.eventlist-item-past {
  border-top: 1px solid var(--general-night-2);
  padding-top: 2em;
}

ol > li.eventlist-item-past ~ li.eventlist-item-past {
  border: none;
  padding-top: 0;
}

li.eventlist-item span {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-right: .8em;
  color: var(--alpha-night);
  font-weight: var(--body-semi-bold);
  background-color: var(--general-night-3);
  border-radius: var(--large-br);
}

li.eventlist-item-past span {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

li.eventlist-item a.eventlist-link {
  max-width:60ch;
  flex: 2;
  color: var(--general-night-4);
}

li.eventlits-item time.eventlist-date {
  flex: 1;
}

ol.eventlist svg {
  width: 22px;
  height: auto;
  flex: initial;
}

ol.eventlist .eventlist-item a.btn {
  margin: 0;
}

@media all and (max-width: 800px) {
  ol.eventlist,
  section.events p {
    grid-column: 2 / 12;
  }
  li.event-item__information {
    display:flex;
    flex-direction: column;
  }
}

@media all and (max-width: 650px) {
  ol.eventlist,
  section.events p {
    grid-column: 1 / 13;
  }
  ol.eventlist time {
    color: var(--general-night-3);
  }
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  li.eventlist-item a.eventlist-link {
    color: var(--general-night-2);
  }
  ol > li.eventlist-item-past {
    border-top: 1px solid var(--general-night-4);
  }
}




/* Event page
   ========================================================================== */

/* section.event {

} */

section.event div.eventbanner {
  width: 100%;
  padding: 3em;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: var(--large-br);
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 1.2;
  color: var(--alpha-night);
}

@supports (font-variation-settings: normal) {
  section.event div.eventbanner {
    font-family: var(--utility-font);
    font-weight: 699;
  }
}

section.event div.eventinfo,
section.newsleter div.newsletter-intro {
  margin: 0 auto 6em;
}

.events-intro,
.newsletter-intro {
  grid-column: 3 / 11;
}

/* section.event p {
  max-width: 60ch;
} */

section.event p.eventactions a {
  margin-right: 1em;
}

section.event p a svg {
  /* can we make these icons corespond to a font-size? */
  width: 22px;
  height: auto;
}

@media (max-width: 800px) {
  .newsletter-intro {
    grid-column: 2 / 12;
  }
}

@media all and (max-width: 650px) {
  section.event div.eventbanner  {
    border-radius: 0px;
  }
  .newsletter-intro {
    grid-column: 1 / 13;
    margin-inline: 1rem;
  }
}



/* ==========================================================================
   #Editing
   ========================================================================== */

section.editing h1,
.editing-intro {
  grid-column: 3 / 11;
}

section.editing .section-grid {
  grid-column: 3 / 11;
  margin-bottom: 6rem;
  display: flex;
  gap: 4rem;
}

section.editing .section-grid p {
  text-wrap: pretty;
  max-width: 60ch;
}

.editing-intro {
  border-bottom: 1px solid var(--general-night-2);
  padding-bottom: 1.2rem;
  margin-bottom: 2rem;
}

.editing-intro p:first-child {
  margin-top: 0;
}

@media (max-width: 800px) {
  section.editing .section-grid {
    grid-column: 2 / 12;
    flex-direction: column;
  }
  section.editing h1,
  .editing-intro {
    grid-column: 2 / 12;
  }
}

@media all and (max-width: 650px) {
  section.editing .section-grid,
  sectionl.editing h1 {
    grid-column: 1 / 13;
    gap: 2rem;
  }
  section.editing h1,
  .editing-intro {
    grid-column: 1 / 13;
  }
  form.editing-services-interest label {
    margin-top: 2rem;
  }
}

form.editing-services-interest label:not(:first-child) {
  margin-top: 2rem;
}

form.editing-services-interest {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form.editing-services-interest button {
  margin-top: 3rem;
}

.editing .medium-card-wrapper {
  font-size: smaller;
}
.editing .medium-card-wrapper .card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.editing .medium-card-wrapper .card-header h3,
.editing .medium-card-wrapper .card-header .price {
  margin: 0px;
  font-size: calc(1.1rem + .4vw);
  font-family: var(--utility-font);
  color: var(--general-night-4);
  font-variant-caps: all-small-caps;
  font-weight: var(--body-semi-bold);
  leading-trim: both;
  text-edge: cap alphabetic;
}

@media (prefers-color-scheme: dark) {
  .editing .medium-card-wrapper .card-header h3,
  .editing .medium-card-wrapper .card-header .price {
    color: var(--general-night-2);
  }
}



/* ==========================================================================
   #Books
   ========================================================================== */

section.genre p {
  grid-column: 3 / 11;
  text-align: center;
}

/* Featured book(s)
   ========================================================================== */

section.featured-book,
section.book-content {
  grid-gap: 6rem 2rem;
}

section.book-content {
  margin-top: 3.8rem;
}

section.featured-book {
  background-color: var(--manu-moon-1);
  min-height: 30em;
  margin: 0;
  padding: 3em 0;
}

.book-hero {
  grid-column: 1 / 13;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem 2rem;
  padding: 3em 0;
  background-color: var(--rho-cancer-1);
  background-image: url(/static/images/bkg-zodiac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section.featured-book figure,
.book-hero figure {
  grid-column: 3 / 6;
  grid-row: 1;
  filter:drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

section:hover.featured-book figure {
  animation: roll 4s infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  /* transform: rotate(-4deg); */
}

svg.download-icon {
  height: 1em;
  margin-left: .8rem;
}

section.featured-book .book-info,
div.featured-book-info,
.book-hero .book-info {
  grid-column: 6 / 11;
  grid-row: 1;
}

div.featured-book-info h1,
.book-info h1 {
  color: var(--manu-blood-3);
}

.book-actions {
  display: flex;
  flex-flow: row wrap;
}

.book-data {
  grid-column: 3 / 11;
  grid-row: 3;
}

.book-data a,
.book-data a:visited {
  color: var(--general-night-4);
}

.book-reviews {
  grid-column: 6 / 11;
  grid-row: 2;
}

.book-synopsis {
  grid-column: 3 / 8;
  grid-row: 1;
}

figure.book-synopsis-figure {
  grid-column: 8 / 11;
  grid-row: 1;
}

.book-reviews {
  grid-column: 6 / 11;
  grid-row: 2;
}

figure.book-reviews-figure {
  grid-column: 3 / 6;
  grid-row: 2;
}

.book-press-items {
  grid-column: 3 / 8;
  grid-row: 3;
}

figure.book-press-items-figure {
  grid-column: 8 / 11;
  grid-row: 3;
}

.book-press-items ul li {
  margin-bottom: .8rem;
}

.book-press-items ul li time {
  color: var(--general-night-3);
  font-variant-caps: all-small-caps;
  font-size: 100%;
  font-size: calc(100% + (20 - 16) * ( (100vw - 300px) / (1400 - 300)));
}

time {
  font-variant-numeric: oldstyle-nums;
}

/* .book-press-items ul li time:before {
  content: " - ";
} */

.book-reviews p {
  margin-top: 1.8em;
  margin-bottom: .8em;
}

.book-reviews em {
  margin-left: -.1em;
  color: var(--general-night-3);
}

.book-reviews p em {
  color: inherit;
}

.books-international {
  grid-column: 3 / 11;
  grid-row: 3;
  margin-top: var(--g-margin-top);
}

.book-synopsis h2,
.book-reviews h2,
.book-press-items h2 {
  margin-top: 0;
  line-height: .4;
}

@media all and (max-width: 800px) {
  section.featured-book,
  .book-hero {
    grid-gap: 1em 2em;
  }

  section.featured-book figure,
  .book-hero figure {
    grid-column: 2 / 6;
  }

  div.featured-book-info,
  .book-hero .book-info {
    grid-column: 6 / 12;
  }

  .book-synopsis,
  .book-press-items {
    grid-column: 2 / 8;
  }

  figure.book-synopsis-figure,
  figure.book-press-items-figure {
    grid-column: 8 / 12;
  }

  .book-reviews {
    grid-column: 6 / 12;
  }

  figure.book-reviews-figure {
    grid-column: 2 / 6;
  }

  .book-synopsis h2,
  .book-reviews h2,
  .book-press-items h2 {
    margin-top: 2.2rem;
  }

}

@media all and (max-width: 500px) {
  section.featured-book,
  section.book-content {
    grid-gap: 0;
  }

  section.book-content {
    margin: 2rem 1rem;
  }

  section.featured-book figure,
  .book-hero figure {
    grid-column: 1 / 13;
    /* grid-row: 2; */
    justify-self: center;
    width: 100%;
    padding: 0 1em;
  }
  .book-hero figure {
    grid-row: 1;
    width: 100%;
    padding: 0 1em;
  }

  .book-hero figure img,
  section.featured-book figure img {
    width: 100%;
  }

  div.featured-book-info,
  .book-hero .book-info,
  .featured-book-info,
  .book-info {
    grid-column: 1 / 13;
    grid-row: 2;
    padding: 0 1em 2em;
  }

  .featured-book-info {
    margin-top: 2rem;
  }

  .featured-book-info h2 {
    font-size: calc(1.5rem + 1.2vw);
  }

  .book-data,
  figure.book-synopsis-figure,
  .book-synopsis,
  figure.book-reviews-figure,
  .book-reviews,
  figure.book-press-items-figure,
  .book-press-items {
    grid-column: 1 / 13;
  }
  .book-synopsis {
    grid-row: 2;
    margin-bottom: 3rem;
  }
  figure.book-reviews-figure {
    grid-row: 3;
  }
  .book-reviews {
    grid-row: 4;
    margin-bottom: 3rem;
  }
  figure.book-press-items-figure {
    grid-row: 5;
  }
  .book-press-items {
    grid-row: 6;
  }
}

@media (prefers-color-scheme: dark) {
  section.featured-book,
  .book-hero {
    background: var(--general-night-5) !important;
  }
  section.book-content {
    margin: 0 1rem;
  }

  .featured-book-info h1,
  .featured-book-info h2,
  .book-info h1 {
    filter: brightness(1.4);
  }

  .book-data a,
  .book-data a:visited {
    color: var(--general-night-2);
  }
}


/* Book and series list(s)
   ========================================================================== */

section.books,
section.newsletter,
section.series {
  display: grid;
  padding: 0 0 5rem;

}

ol.booklist,
ol.serieslist,
section.books h1,
section.books h2,
section.series h2 {
  grid-column: 3 / 11;
}

ol.booklist,
div.books-international ol {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  list-style: none;
  grid-gap: 1.5em 1em;
  padding: 0;
}

ol.serieslist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  list-style: none;
  grid-gap: 1.5em 1em;
  padding: 0;
}


/* Book list(s)
   ========================================================================== */

section.series-hero figure,
section.series-data > * {
  grid-column: 3 / 11;
}

.series-reviews,
.series-books,
.series-press {
  margin-top: var(--g-margin-top);
}

@media all and (max-width: 800px) {
  section.books,
  section.series {
    display: block;
    margin: 0 1rem 3rem;

  }
  section.series-hero figure,
  section.series-data > * {
    grid-column: 2 / 12;
  }
}

@media all and (max-width: 650px) {
  section.series-hero figure,
  section.series-data > * {
    grid-column: 1 / 13;
  }
}



/* ==========================================================================
   #TIPS
   * shhhhhhh... this is a hiddent view
   ========================================================================== */

/* section.tips {

} */

.showmore-actions {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
}
/*
.showmore-actions > button {
  background-color: transparent;
  border-radius: 22px;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid #202122;
  padding: 0.5rem 1.5rem;
} */

#review-show[value="false"] ~ .more-review {
  display: none;
}
#review-show[value="false"] ~ .showmore-actions > :first-child {
  display: block;
}
#review-show[value="false"] ~ .showmore-actions > :last-child {
  display: none;
}

#review-show[value="true"] ~ .more-review {
  display: block;
}
#review-show[value="true"] ~ .showmore-actions > :last-child {
  display: block;
}
#review-show[value="true"] ~ .showmore-actions > :first-child {
  display: none;
}


#press-show[value="false"] + ul > .more-press {
  display: none;
}
#press-show[value="false"] ~ .showmore-actions > :first-child {
  display: block;
}
#press-show[value="false"] ~ .showmore-actions > :last-child {
  display: none;
}

#press-show[value="true"] + ul > .more-press {
  display: block;
}
#press-show[value="true"] ~ .showmore-actions > :last-child {
  display: block;
}
#press-show[value="true"] ~ .showmore-actions > :first-child {
  display: none;
}
