---
title: 404 Page not found
layout: layouts/base.njk
---

<section class="book-content"> 
    <figure class="large-figure">
        <!-- <img src="/images/photo-actionplanner.jpg?nf_resize=fit&w=800" alt="A writer's journal on a coffeeshop table with Womankind World Domination Action Planner on the cover"> -->
        <img src="/images/photo-puremagicplanner.jpg?nf_resize=fit&w=800" alt="A coffee shop desk for a writer with a journal that says you are pure magic">

    </figure>
    <div class="medium-card">
        <div class="card">
            <h1>404: Page not found</h1>
            <p>Undocumented. Unplanned. Unwritten.<br>
            Check back on the next full moon 🌕 or go <a href="/" rel="noopener nofollow">back to safety</a> now.</p>
        </div> 
    </div>
    
</section>