---
layout: layouts/base.njk
templateClass: tmpl-about
---

<section class="bio">
  {%- if aboutPage.image %}
    <figure>
      <img src="{{ aboutPage.image }}" />
      {# make this download image a large image #}
      <p><a href="{{ aboutPage.original }}?dl=image-download" download="image-download" target="_blank" rel="noopener nofollow">Download a large author photo</a></p>
      <figcaption>
      {{ aboutPage.mainImage.caption }}
      </figcaption>
    </figure>
  {% endif -%}

  <div class="bio-text">

  <div>

  {{ aboutPage.bio | markdownify | safe }}

  </div>

{%- if aboutPage.publishers.length > 0 %}
  <div class="publishers">
  <h2>Links</h2>
    <ul>
      {%- for publisher in aboutPage.publishers -%}
        <li>
          <a href="{{ publisher.url }}" target="_blank" rel="noopener">
            {{- publisher.title -}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
{% endif -%}

{%- if aboutPage.agent %}
  <div class="agent">
    <span class="data-label">Representation:</span>
    <a href="{{ aboutPage.agent.url }}" target="_blank" rel="noopener">
      {{- aboutPage.agent.title -}}
    </a>
  </div>
{% endif -%}

</div>

</section>
