---
title: About
layout: layouts/base.njk
templateClass: tmpl-about
---

<section class="bio">
  <h1 class="vh">About Young Adult Author</h1>
  {%- if aboutPage.image %}
    <figure>
      <img src="{{ aboutPage.image }}" alt="{{ aboutPage.mainImage.alt }}"/>
      <figcaption>
      {{ aboutPage.mainImage.caption }}
      </figcaption>
      {# make this download image a large image #}
      <p class="download-link"><span class="data-label">Download:</span> <a href="{{ aboutPage.original }}?dl=romina-author-photo.jpg" rel="noopener nofollow">Large&nbsp;author&nbsp;photo
      </a></p>
    </figure>
  {% endif -%}

  <div class="bio-text">

  <div>

 <span class="all-small-caps">Romina Garber</span> {{ aboutPage.bio | markdownify | safe }}

  </div>

{# {%- if aboutPage.contact%} #}
  <div class="contact book-data">
    <span class="data-label">Contact:</span>
    {# make this editable in the studio #}
    <a href="mailto:romigarber@gmail.com" rel="nopener">romigarber@gmail.com</a>
  </div>
{# {% endif -%} #}

{%- if aboutPage.publishers.length > 0 %}
  <div class="publishers">
  <span class="data-label">Links:</span>
    <ul class="mt0">
      {%- for publisher in aboutPage.publishers -%}
        <li>
          <a href="{{ publisher.url }}" target="_blank" rel="noopener">
            {{- publisher.title -}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
{% endif -%}

{%- if agent %}
  <div class="agent book-data">
    <span class="data-label">Representation:</span>
    <a href="{{ agent.url }}" target="_blank" rel="noopener">
      {{- agent.name }}, {{ agent.agency -}}
    </a>
  </div>
{% endif -%}

{# {%- if aboutPage.aboutSite%} #}
  <div class="aboutSite book-data">
    <span class="data-label">About this site:</span>
    {# make this editable in the studio #}
    Designed and developed by <a href="https://twitter.com/DTAndyB" target="_blank" rel="noopener">Andypbrowne</a> in <a href="https://www.figma.com/" target="_blank" rel="nofollow noopener">Figma</a> using <a href="https://www.sanity.io/" target="_blank" rel="nofollow noopener">Sanity CMS</a> and <a href="https://www.11ty.dev/" target="_blank" rel="nofollow noopener">Eleventy</a>.
  </div>
{# {% endif -%} #}

</div>

</section>
