---
layout: layouts/base.njk
templateClass: tmpl-about
---

<section class="bio">
  {%- if aboutPage.image %}
    <img src="{{ aboutPage.image }}" />
    {{ aboutPage.mainImage.caption }}
  {% endif -%}

  <div class="bio-text">

  {{ aboutPage.bio | markdownify | safe }}

  </div>
</section>

{%- if aboutPage.publishers.length > 0 %}
  <section class="publishers">
    <ul>
      {%- for publisher in aboutPage.publishers -%}
        <li>
          <a href="{{ publisher.url }}" target="_blank" rel="noopener">
            {{- publisher.title -}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </section>
{% endif -%}

{%- if aboutPage.agent %}
  <section class="agent">
    <span class="data-label">Representation:</span>
    <a href="{{ aboutPage.agent.url }}" target="_blank" rel="noopener">
      {{- aboutPage.agent.title -}}
    </a>
  </section>
{% endif -%}
