<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "../components/meta-info.njk" %}
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <header class="top-bar">
      <div class="logo"><a href="{{ '/' | url }}">
        
        {% include "../components/icon-virgo-color.svg" %}

      </a></div>

      {% include "../components/nav.njk" %}
      
    </header>

    <main role="main" class="main">
      {{ content | safe }}
    </main>

    {% include "../components/footer.njk" %}

  </body>
</html>
