<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "../components/meta-info.njk" %}
    <link rel="icon" sizes="192x192" href="../images/icon.png">
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
    <link rel="mask-icon" href="../images/icon.svg" color="#DB3802">
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <a class="skip-link btn" href="#main-content">Skip to content</a>
    <header class="top-bar" role="banner">
      <div class="logo"><a href="{{ '/' | url }}">

        {% include "../components/icon-virgo-color.svg" %}

      </a></div>

      {% include "../components/nav.njk" %}

    </header>

    <main id="main-content" role="main" class="main">
      {{ content | safe }}
    </main>

    {% include "../components/footer.njk" %}

    <script src="../../scripts/nav.js" defer></script>
  </body>
</html>
