---
title: Link in bio
layout: layouts/base.njk
---

{# <pre>{{ bioLinks | debug }}</pre> #}

<section class="biolinks">

<h1 class="visually-hidden">{{ title }}</h1>

{%- if bioLinks.mainImage %}
<figure>
    <img src="{{ bioLinks.image }}" alt="{{ bioLinks.mainImage.alt }}">
    <figcaption>{{ bioLinks.mainImage.caption }}</figcaption>
</figure>
{% endif -%}

<div class="large-card-wrapper">

{% if bioLinks %}

<ol>
    {% set linkCount = 0 %}
      {% for l in bioLinks.bioLinks %}
        {% if linkCount < 8 %} {# limit number of links shown #}
    <li>
        <a href="{{ l.url | url }}" rel="noopener nofollow">
            <div class="card">
                <p class="mt0 mb0">{{ l.title }}</p>
            </div>
        </a></li>

        {% set linkCount = linkCount + 1 %}
        {% endif %}
      {% endfor %}

</ol>

{% endif %}

</div>

{% include "../components/social.njk" %}



</section>
