---
title: Link in bio
layout: layouts/base.njk
---

<section class="biolinks">

<h1 class="visually-hidden">{{ title }}</h1>

{%- if bioLinks.mainImage %}
<figure>
    <img src="{{ bioLinks.mainImage }}" alt="{{ bioLinks.mainImage.alt }}">
    <figcaption>{{ bioLinks.mainImage.caption }}</figcaption>
</figure>
{% endif -%}

<div class="large-card-wrapper">

{% if bioLinks.content.links %}

<ol>
    {% set linkCount = 0 %}
      {% for link in bioLinks.content.links %}
        {% if linkCount < 8 %} {# limit number of links shown #}
    <li>
        <a href="{{ link.url | url }}" target="_blank" rel="noopener nofollow">
            <div class="card">
                <p class="mt0 mb0">{{ link.title }}</p>
            </div>
        </a></li>

        {% set linkCount = linkCount + 1 %}
        {% endif %}
      {% endfor %}

</ol>

{% endif %}

</div>

{% include "../components/social.njk" %}


</section>
