---
title: Blog
layout: layouts/base.njk
templateClass: tmpl-home
---

<section class="posts">
    <div class="events-intro">
        {# replace this heading with a featured post when ready #}
        <h1>Blog Posts</h1>
    </div>

    {{ content | safe }}

</section>
