---
layout: layouts/base.njk
templateClass: tmpl-book
---
{% set highlightColorPrimary = book.content.theme.primary -%}
{% set highlightColorSecondary = book.content.theme.secondary -%}
{% set highlightColorTertiary = book.content.theme.tertiary -%}

<div class="book-hero" style="background-color: {{ highlightColorPrimary }};">
  {%- if book.cover %}
    <figure>
      <img src="{{ book.cover }}" alt="{{ book.content.content.cover.alt }}" />
      {# make this download image a large image #}
      <p class="download-link"><span class="data-label" style="color: {{ highlightColorTertiary }}">Download:</span> <a href="{{ book.cover }}?dl=book-cover.jpg" rel="noopener">Large cover image&nbsp;<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M7 10L12 15L17 10" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12 15V3" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </a></p>
    </figure>
  {% endif -%}

  <div class="book-info">

  {# generate the heading color and the buttons from the cms #}
  <h1 class="mt0 mb0" style="color: {{ highlightColorTertiary  }};">{{ book.content.title }}</h1>

  {% if book.hook %}
    {{ book.hook | markdownify | safe }}
  {% endif %}


  <div class="book-actions">
    {# (pre-)order and GR TBR links go here
    change the colors of these buttons and icons in the cms #}

    <a class="btn btn--featured-book" style="border-color: {{ highlightColorTertiary }}; color: {{ highlightColorTertiary }};" href="#">Buy book from
      <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7.97059 7L14.9412 1" stroke="{{ highlightColorTertiary }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <a class="btn btn--featured-book" style="border-color: {{ highlightColorTertiary }}; color: {{ highlightColorTertiary }};" href="#">Add to Goodreads TBR</a>

  </div>

  {% if book.content.links %}
    <ul>
      {% set linkCount = 0 %}
      {% for link in book.content.links %}
        {% if linkCount < 6 %} {# limit number of links shown #}

          <li>
            <a href="{{ link.url | url }}" target="_blank" rel="noopener">{{ link.title }}</a>
          </li>

          {% set linkCount = linkCount + 1 %}
        {% endif %}
      {% endfor %}
    </ul>

  {% endif %}

  </div>
  <div class="book-data clearfix">
      {# make this color selected in the cms to match the book theme colors 3 #}
      <p>
        {%- if book.content.publishers.length > 0 %}
          <span class="data-label"  style="color: {{ highlightColorTertiary }}">Publisher:</span>
          <a href="{{ book.content.publishers[0].url }}" target="_blank" rel="noopener">{{ book.content.publishers[0].title }}</a><br>
        {% endif -%}
        {%- if book.content.agent %}
          <span class="data-label" style="color: {{ highlightColorTertiary }}">Representation:</span>
          <a href="{{ book.content.agent.url }}">{{ book.content.agent.title }}</a>
        {% endif -%}
      </p>
    </div>
  </div>

<section class="book-content">

{# call this something else besides reviews #}
<div class="book-reviews">

  {% if book.synopsis %}
    <div class='book-synopsis'>
      <h2>Synopsis</h2>
      {{ book.synopsis | markdownify | safe }}
    </div>
  {% endif %}

  {% if book.reviews.length > 0 %}
    <h2>Reviews</h2>
    {% for review in book.reviews %}
      {{ review.content | markdownify | safe }}
      {% if review.author %}
        <em>&mdash; {{ review.author }}</em>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if book.content.pressItems.length > 0 %}
    <h2>Press</h2>
    {% for pressItem in book.content.pressItems %}
      <a href="#" target="_blank" rel="noopener">{{ pressItem.title }}</a>
      <time>{{ pressItem.publishedAt | readableDate }}</time>
    {% endfor %}
  {% endif %}

  </div>

  {% if book.internationalCovers.length > 0 %}

    <div class="books-international">
      <h1>International Covers</h1>
      <ol>
        {% for intCover in book.internationalCovers %}
          <li><img src="{{ intCover.cover }}" alt="{{ intCover.alt }}" /></li>
        {% endfor %}
      </ol>
    </div>
  {% endif %}

</section>
