---
layout: layouts/base.njk
templateClass: tmpl-books
---

<section class="genre">
  {{ booksPage.genre | markdownify | safe }}
</section>

<section class="featured-book">

  {% for book in booksPage.featured %}

    {%- if book.cover %}
      <img src="{{ book.cover }}" alt="{{ book.content.content.cover.alt }}" />
    {% endif -%}

    <div class="featured-book-info">

    <h1 class="mt0 mb0">{{ book.content.title }}</h1>

    {% if book.hook %}
      {{ book.hook | markdownify | safe }}
    {% endif %}

    {# (pre-)order and GR TBR links go here
  How do we change the colors of these buttons #}

    <div class="book-actions">
      <a class="btn btn--featured-book" href="#">Buy book from
        <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7.97059 7L14.9412 1" stroke="#9C914C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
      <a class="btn btn--featured-book" href="#">Add to Goodreads TBR</a>
      <a href="#">More info</a>
    </div>

    {% if book.review %}
      {{ book.review | markdownify | safe }}
    {% endif %}

    {% if book.content.links %}
      <ul>
        {% set linkCount = 0 %}
        {% for link in book.content.links %}
          {% if linkCount < 2 %} {# limit number of links shown #}

            <li>
              <a href="{{ link.url | url }}" target="_blank" rel="noopener">{{ link.title }}</a>
            </li>

            {% set linkCount = linkCount + 1 %}
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    </div>

  {% endfor %}

  {# publisher and representation go here #}
  <div class="book-data clearfix">
      {# make this color selected in the cms to match the book theme colors 3 #}
      <p>
        <span style="color: #9C914C">Publisher:</span> <a href="#">Wednesday Books</a><br>
        <span style="color: #9C914C">Representation:</span> <a href="#">Laura Rennert, Andrea Brown Literary Agency</a>
      </p>
    </div>

</section>

<section class="books">
  {{ content | safe }}
</section>
