---
layout: layouts/base.njk
templateClass: tmpl-book
---
{% set highlightColor = book.content.theme.tertiary -%}

<div class="book-hero">
  {%- if book.cover %}
    <figure>
      <img src="{{ book.cover }}" alt="{{ book.content.content.cover.alt }}" />
      {# make this download image a large image #}
      <p><a href="{{ book.cover }}" download="image-download" target="_blank" rel="noopener">Download a large book cover image</a></p>
    </figure>
  {% endif -%}

  <div class="book-info">

  {# generate the heading color and the buttons from the cms #}
  <h1 class="mt0 mb0" style="color: {{ highlightColor }};">{{ book.content.title }}</h1>

  {% if book.hook %}
    {{ book.hook | markdownify | safe }}
  {% endif %}


  <div class="book-actions">
    {# (pre-)order and GR TBR links go here
    change the colors of these buttons and icons in the cms #}

    <a class="btn btn--featured-book" style="border-color: {{ highlightColor }}; color: {{ highlightColor }};" href="#">Buy book from
      <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7.97059 7L14.9412 1" stroke="{{ highlightColor }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <a class="btn btn--featured-book" style="border-color: {{ highlightColor }}; color: {{ highlightColor }};" href="#">Add to Goodreads TBR</a>

  </div>

  {% if book.content.links %}
    <ul>
      {% set linkCount = 0 %}
      {% for link in book.content.links %}
        {% if linkCount < 6 %} {# limit number of links shown #}

          <li>
            <a href="{{ link.url | url }}" target="_blank" rel="noopener">{{ link.title }}</a>
          </li>

          {% set linkCount = linkCount + 1 %}
        {% endif %}
      {% endfor %}
    </ul>

  {% endif %}

  </div>
  <div class="book-data clearfix">
      {# make this color selected in the cms to match the book theme colors 3 #}
      <p>
        {%- if book.content.publishers.length > 0 %}
          <span style="color: {{ highlightColor }};">Publisher:</span>
          <a href="{{ book.content.publishers[0].url }}" target="_blank" rel="noopener">{{ book.content.publishers[0].title }}</a><br>
        {% endif -%}
        {%- if book.content.agent %}
          <span style="color: {{ highlightColor }};">Representation:</span>
          <a href="{{ book.content.agent.url }}">{{ book.content.agent.title }}</a>
        {% endif -%}
      </p>
    </div>
  </div>

<section class="book-content">

{# call this something else besides reviews #}
<div class="book-reviews">

  {% if book.synopsis %}
    <div class='book-synopsis'>
      <h2>Synopsis</h2>
      {{ book.synopsis | markdownify | safe }}
    </div>
  {% endif %}

  {% if book.reviews.length > 0 %}
    <h2>Reviews</h2>
    {% for review in book.reviews %}
      {{ review.content | markdownify | safe }}
      {% if review.author %}
        <em>&mdash; {{ review.author }}</em>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if book.content.pressItems.length > 0 %}
    <h2>Press</h2>
    {% for pressItem in book.content.pressItems %}
      <a href="#" target="_blank" rel="noopener">{{ pressItem.title }}</a>
      <time>{{ pressItem.publishedAt | readableDate }}</time>
    {% endfor %}
  {% endif %}

  </div>

  {% if book.internationalCovers.length > 0 %}

    <div class="books-international">
      <h1>International Covers</h1>
      <ol>
        {% for intCover in book.internationalCovers %}
          <li><img src="{{ intCover.cover }}" alt="{{ intCover.alt }}" /></li>
        {% endfor %}
      </ol>
    </div>
  {% endif %}

</section>
