---
layout: layouts/base.njk
templateClass: tmpl-books
---

{# <section class="genre">
<h1>
  
</h1>
</section> #}

<section class="books">
<h1>{{ booksPage.genre | markdownify | safe }}</h1>

  {{ content | safe }}
</section>
