---
layout: layouts/base.njk
templateClass: tmpl-book
---
{% set themeColorPrimary = book.content.theme.primary -%}
{% set themeColorSecondary = book.content.theme.secondary -%}
{% set themeColorTertiary = book.content.theme.tertiary -%}

<div class="book-hero" style="background-color: {{ themeColorPrimary }};">

  {%- if book.cover %}
    <figure>
      <img src="{{ book.cover }}" alt="{{ book.content.cover.alt }}" />
      <figcaption>{{ book.content.cover.caption }}</figcaption>
      {# make this download image a large image #}
      <p class="download-link"><span class="data-label" style="color: {{ themeColorTertiary }}">Download:</span> <a href="{{ book.content.original }}?dl=book-cover.jpg" rel="noopener nofollow">Large&nbsp;cover&nbsp;image&nbsp;
        {# <svg class="download-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M7 10L12 15L17 10" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12 15V3" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> #}
        </a></p>
    </figure>
  {% endif -%}

  <div class="book-info">

  {# generate the heading color and the buttons from the cms #}
  <h1 class="mt0" style="color: {{ themeColorTertiary  }};">{{ book.content.title }}</h1>

  {% if book.hook %}
    {{ book.hook | markdownify | safe }}
  {% endif %}


    <div class="book-actions">
      {# test layout of dropdown button https://codepen.io/raneio/pen/NbbZEM?editors=1100#}
      {% if book.content.buyBookFrom %}

      {# lets try another kind of dropdown #}
      <div data-menu-component>
        <input type="checkbox" role="button" aria-haspopup="true" id="toggle" class="vh btn">
        <label for="toggle" class="btn btn--featured-book" style="border-color: {{ themeColorTertiary }}; color: {{ themeColorTertiary }};" data-opens-menu>
          Buy book from <svg class="download-icon" width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7.97059 7L14.9412 1" stroke="{{ themeColorTertiary }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="vh expanded-text">expanded</span>
          <span class="vh collapsed-text">collapsed</span>
        </label>
        <div role="menu" data-menu-origin="left">
          <ul style="background-color: {{ themeColorPrimary }}; border: 2px solid {{ themeColorTertiary }};">
            {% set buyBookFromCount = 0 %}
            {% for buyBookFrom in book.content.buyBookFrom %}
            {% if buyBookFromCount < 8 %}

            <li><a
            style="color: {{ themeColorTertiary }};"
            href="{{ buyBookFrom.url | url }}"
            target="_blank" rel="noopener nofollow">{{ buyBookFrom.title }}
            {# <svg class="download-icon" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27 19.5V28.5C27 29.2956 26.6839 30.0587 26.1213 30.6213C25.5587 31.1839 24.7956 31.5 24 31.5H7.5C6.70435 31.5 5.94129 31.1839 5.37868 30.6213C4.81607 30.0587 4.5 29.2956 4.5 28.5V12C4.5 11.2044 4.81607 10.4413 5.37868 9.87868C5.94129 9.31607 6.70435 9 7.5 9H16.5" stroke="{{ themeColorTertiary }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M22.5 4.5H31.5V13.5" stroke="{{ themeColorTertiary }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M15 21L31.5 4.5" stroke="{{ themeColorTertiary }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg> #}
            </a></li>

            {% set buyBookFromCount = buyBookFromCount + 1 %}
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </div>

       {# <label class="dropdown">

        <div tabindex="0" class="btn btn--featured-book"
        style="border-color: {{ themeColorTertiary }}; color: {{ themeColorTertiary }};">
          Buy book from <svg class="download-icon" width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7.97059 7L14.9412 1" stroke="{{ themeColorTertiary }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>

        <input type="checkbox" role="button" class="dd-input">

        <ul class="dd-menu"
        style="background-color: {{ themeColorPrimary }}; border: 2px solid {{ themeColorTertiary }};">

        {% set buyBookFromCount = 0 %}
          {% for buyBookFrom in book.content.buyBookFrom %}
            {% if buyBookFromCount < 8 %}

            <li><a
            style="color: {{ themeColorTertiary }};"
            href="{{ buyBookFrom.url | url }}"
            target="_blank" rel="noopener nofollow">{{ buyBookFrom.title }}
            <svg class="download-icon" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27 19.5V28.5C27 29.2956 26.6839 30.0587 26.1213 30.6213C25.5587 31.1839 24.7956 31.5 24 31.5H7.5C6.70435 31.5 5.94129 31.1839 5.37868 30.6213C4.81607 30.0587 4.5 29.2956 4.5 28.5V12C4.5 11.2044 4.81607 10.4413 5.37868 9.87868C5.94129 9.31607 6.70435 9 7.5 9H16.5" stroke="{{ themeColorTertiary }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M22.5 4.5H31.5V13.5" stroke="{{ themeColorTertiary }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M15 21L31.5 4.5" stroke="{{ themeColorTertiary }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            </a></li>

            {% set buyBookFromCount = buyBookFromCount + 1 %}
            {% endif %}
          {% endfor %}

        </ul>

      </label> #}
      {% endif %}

      {%- if book.content.addToGoodreads %}

        <a class="btn btn--featured-book"
        style="border-color: {{ themeColorTertiary }}; color: {{ themeColorTertiary }};"
        href="{{ book.content.addToGoodreads }}"
        target="_blank" rel="noopener">Add to Goodreads</a>

      {% endif %}

    </div>

  {% if book.content.links %}
    <ul>
      {% set linkCount = 0 %}
      {% for link in book.content.links %}
        {% if linkCount < 6 %} {# limit number of links shown #}

          <li>
            <a href="{{ link.url | url }}" target="_blank" rel="noopener nofollow">{{ link.title }}</a>
          </li>

          {% set linkCount = linkCount + 1 %}
        {% endif %}
      {% endfor %}
    </ul>

  {% endif %}

    <div class="book-data">
      {# make this color selected in the cms to match the book theme colors 3 #}
      <p>
        {%- if book.content.publishers.length > 0 %}
          <span class="data-label" style="color: {{ themeColorTertiary }}">Publisher:</span>
          <a href="{{ book.content.publishers[0].url }}" target="_blank" rel="noopener">{{ book.content.publishers[0].title }}</a><br>
        {% endif -%}
        {%- if agent %}
          <span class="data-label" style="color: {{ themeColorTertiary }}">Representation:</span>
          <a href="{{ agent.url }}">{{ agent.name }}, {{ agent.agency }}</a>
        {% endif -%}
      </p>
    </div>

  </div>


</div>

<section class="book-content">

  {% if book.internationalCovers.length > 0 %}

    <figure class="book-synopsis-figure">
      <img src="{{ book.internationalCovers[0].cover }}" alt="{{ book.internationalCovers[0].alt }}" />
      <figcaption>{{ book.internationalCovers[0].caption }}</figcaption>
    </figure>

  {% endif %}

  {% if book.synopsis %}

    <div class='book-synopsis'>
      <h2>Synopsis</h2>
      {{ book.synopsis | markdownify | safe }}
    </div>

  {% endif %}

  {% if book.internationalCovers.length > 1 %}

    <figure class="book-reviews-figure">
      <img src="{{ book.internationalCovers[1].cover }}" alt="{{ book.internationalCovers[0].alt }}" />
      <figcaption>{{ book.internationalCovers[1].caption }}</figcaption>
    </figure>

  {% endif %}

  {% if book.reviews.length > 0 %}

    <div class="book-reviews">
      <h2>Reviews</h2>

      {% for review in book.reviews %}
        {{ review.content | markdownify | safe }}

        {% if review.author %}
          <em>&mdash; {{ review.author }}</em>
        {% endif %}

      {% endfor %}

    </div>

  {% endif %}

  {% if book.internationalCovers.length > 2 %}

    <figure class="book-press-items-figure">
      <img src="{{ book.internationalCovers[2].cover }}" alt="{{ book.internationalCovers[0].alt }}" />
      <figcaption>{{ book.internationalCovers[2].caption }}</figcaption>
    </figure>

  {% endif %}

  {% if book.content.pressItems.length > 0 %}

    <div class="book-press-items">

      <h2>Press</h2>
      <ul>

        {% for pressItem in book.content.pressItems %}

          <li>
            <a href="{{ pressItem.url }}" target="_blank" rel="noopener">{{ pressItem.title }}</a>
            <time>{{ pressItem.publishedAt | readableDate }}</time>
          </li>

        {% endfor %}

      </ul>
    </div>

  {% endif %}

</section>

<section class="books">

{% set booksList = collections.myBooks %}
{% set booksLimit = 6 %}
{% set booksReverseList = true %}
{% include "bookslist.njk" %}

</section>
