---
title: Editing
layout: layouts/base.njk
templateClass: tmpl-about
---

<section class="editing">
  <h1>Editing & Consulting Services</h1>
  <div class="editing-intro">    
    {# {% youtube "https://www.youtube.com/watch?v=yf3L0jnIMno", "Romina Garber Editing & Consulting Services" %} #}
    {% if editingServices and editingServices.youtube and editingServices.youtube.url %}
      {% set ytUrl = editingServices.youtube.url %}
      {% set ytDesc = editingServices.youtube.description or editingServices.title %}
      {% youtube ytUrl, ytDesc %}
    {% endif %}
    

    {{ editingServices.introduction | markdownify | safe }}
  </div>
  <div class="section-grid">

    <div>
    <h2 class="vh">Services</h2>
    <div class="medium-card-wrapper">

      {% for serviceCard in editingServices.serviceCards %}
        <div class="card">
          <div class="card-header">
            <h3>{{ serviceCard.title }}</h3>
            <span class="price">${{ serviceCard.price }}</span>
          </div>
          <p>{{ serviceCard.description | markdownify | safe }}</p> 
        </div>
      {% endfor %}
      </div>
    </div>

  <div class="section-grid">
    <div class="editing-form">
    <h2 class="vh">Interest form</h2>
    <form 
    name="editing-services" 
    netlify-honeypot="bot-field" 
    class="editing-services-interest" 
    method="POST" 
    action="/success-editing-services" 
    data-netlify-recaptcha="true"
    data-netlify="true">
        <label for="name"><span class="data-label">Name</span></label>
        <input type="name" name="name" id="name" class="name-field" autocomplete="email" placeholder="First and last name" title="Name" required>
        <label for="email"><span class="data-label">Email</span></label>
        <input type="email" name="email" id="email" class="email-field" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
        <label for="message"><span class="data-label">Message</span></label>
        <small>Let me know a little about your project and what services you’re interested in.</small>
        <textarea name="message" id="message" class="message-field" rows="5" placeholder="Your message or inquiry" title="Please enter your message" required></textarea>
        <div data-netlify-recaptcha="true"></div>
        <button class="btn btn-primary inquiry-btn" type="submit" name="submit">Send inquiry</button>
    </form></div></div></div> 
</section>