---
layout: layouts/base.njk
templateClass: tmpl-events
---

<section class="intro">
  <h1>Author Events</h1>
  {{ eventsPage.intro | markdownify | safe }}
</section>

<section class="events">
  {{ content | safe }}
</section>
