---
title: Newsletter
layout: layouts/base.njk
templateClass: tmpl-about
---

<section class="newsletter">
  <div class="newsletter-intro">
    <h1>Newsletter</h1>
    {% include "../components/newsletter-form.njk" %}
  </div>
</section>
