---
title: Saysa Says
layout: layouts/base.njk
---

<section class="books">

  <h1>{{ saysaSays.title }}</h1>

      <article>
 
        {{ saysaSays.bodyContent | markdownify | safe }}

        <div class="end-mark" style="text-align:center; margin-bottom: 2rem;">
            §
        </div>

       <div class="card" style="
        display: flex;
        align-items: center;
        gap: 2rem;">
        <span>ⓘ</span>

         {{ saysaSays.cta | markdownify | safe }}

       </div>

       </article>

</section>
