---
title: Success
layout: layouts/base.njk
---

<section class="events">
  <div class="events-intro">
    <h1>Success!</h1>
    <p>
        You have been subscribed to the newsletter. Watch your inbox when the moon is full 🌕. 
    </p>
  </div>

</section>