---
title: Successful Inquiry
layout: layouts/base.njk
---

<section class="events">
  <div class="events-intro">
    <h1>Success!</h1>
    <p>
        Your inquiry has been submitted. Watch your inbox when the moon is full 🌕. 
    </p>
  </div>

</section>