---
title: About
layout: layouts/about.njk
tags:
  - nav
navtitle: About
metaDesc: 'About New York Times and international bestselling author Romina Garber'
eleventyComputed:
  socialImage: "{{ aboutPage.image }}"
---
