---
layout: layouts/book
tags:
  - myBooks
pagination:
  alias: book
  data: books
  size: 1
  addAllPagesToCollections: true
permalink: books/{{ book.content.slug.current | slug }}/index.html
renderData:
  title: "{{ book.content.title }}"
  metaDesc: "{{ book.hook }}"
  socialImage: "{{ book.cover }}"
---
