---
layout: layouts/book
tags:
  - myBooks
pagination:
  alias: book
  data: books
  size: 1
  addAllPagesToCollections: true
permalink: books/{{ book.slug.current | slug }}/index.html
eleventyComputed:
  pageTitle: "{{ book.title }}"
  socialImage: "{{ book.cover.url }}"
renderData:
  title: "{{ book.title }}"
  metaDesc: "{{ book.hook }}"
---