---
title: Editing
layout: layouts/editing.njk
tags:
  - nav
navtitle: Editing
metaDesc: 'Editing and consultation services by New York Times and international bestselling author Romina Garber'
renderData:
  socialImage: "{{ editingServices.mainImage }}"
---