---
layout: layouts/event
tags:
  - myEvents
pagination:
  alias: event
  data: events
  size: 1
  addAllPagesToCollections: true
permalink: events/{{ event.content.slug.current | slug }}/index.html
renderData:
  title: "{{ event.content.name }}"
---
