---
layout: layouts/event
tags:
  - myEvents
pagination:
  alias: event
  data: events
  size: 1
  addAllPagesToCollections: true
permalink: events/{{ event.content.slug.current | slug }}/index.html
eleventyComputed:
  pageTitle: "{{ event.content.name }}"
  socialImage: "{{ event.content.previewImage }}"
renderData:
  title: "{{ event.content.name }}"
  metaDesc: "{{ event.content.shortDescription }}"
---
