---
layout: layouts/event
tags:
  - myEvents
pagination:
  alias: event
  data: events
  size: 1
  addAllPagesToCollections: true
permalink: events/{{ event.slug.current | slug }}/index.html
renderData:
  title: "{{ event.name }}"
  metaDesc: "{{ event.shortDescription }}"
  socialImage: "{{ event.previewImage }}"
---
