---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<section class="hero">
  <p>[IMAGE FPO]</p>
</section>

<section class="blog-posts">
  <h1>Latest Posts</h1>

  {% set postslist = collections.myPosts %}
  {% include "postslist.njk" %}

  <p>More posts can be found on the <a href="{{ '/blog/' | url }}">blog page</a>.</p>
</section>

<section class="events">
{% set eventslist = collections.myEvents %}
{% include "eventslist.njk" %}

<p>More events can be found on the <a href="{{ '/events/' | url }}">events page</a>.</p>
</section>
