---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<section class="hero">

<div class="hero-background">
  {# I think we need this section to hold some graphics #}
</div>

<div class="hero-card">
  {# here is some placeholder html that you can work into the singleton #}
  <h1>Romina Garber</h1>
  <p>A New York Times and international bestselling author</p>
  <p>
    <a href="/about/" class="btn btn--hero">Romina&rsquo;s Info</a>
  </p>
  <p>[social icons]</p>
</div>

</section>

<section class="featured-book">

  {% for book in booksPage.featured %}

    {%- if book.cover %}
      <img src="{{ book.cover }}" alt="{{ book.content.content.cover.alt }}" />
    {% endif -%}

    <div class="featured-book-info">

    <h1 class="mt0 mb0">{{ book.content.title }}</h1>

    {% if book.hook %}
      {{ book.hook | markdownify | safe }}
    {% endif %}

    <div class="book-actions">

      {# (pre-)order and GR TBR links go here #}
      <a class="btn btn--featured-book" href="/books/{{ book.content.slug.current | url }}/">More Info</a>
      <a class="btn btn--featured-book" style="border-color: #4781A2; color: #4781A2;" href="#">Add to Goodreads TBR</a>

    </div>

    {% if book.review %}
      {{ book.review | markdownify | safe }}
    {% endif %}

    </div>

  {% endfor %}

</section>

<section class="instagram-feed">
  {# statically built Instagram feed goes here #}
</section>

<section class="events">
  {% set eventsList = collections.myEvents %}
  {% set eventsLimit = 1 %} {# limit number of events shown #}
  {% include "eventslist.njk" %}

  <p class="more-link"><a class="btn btn--secondary" href="{{ '/events/' | url }}">More events
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21   20V6C21 4.89543 20.1046 4 19 4Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M16 2V6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M8 2V6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M3 10H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg></a>
  </p>
</section>

<section class="blog-posts">
  {% set postsList = collections.myPosts %}
  {% set postsLimit = 1 %} {# limit number of posts shown #}
  {% include "postslist.njk" %}

  <p class="more-link"><a class="btn btn--secondary" href="{{ '/blog/' | url }}">More blog posts
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M20.24 12.24C21.3658 11.1142 21.9983 9.58722 21.9983 7.99504C21.9983 6.40285 21.3658 4.87588 20.24 3.75004C19.1142 2.62419 17.5872 1.9917 15.995 1.9917C14.4028 1.9917 12.8758 2.62419 11.75 3.75004L5 10.5V19H13.5L20.24 12.24Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M16 8L2 22" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M17.5 15H9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg></a>
  </p>
</section>
