---
layout: layouts/post
tags:
  - myPosts
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: posts/{{ post.slug.current | slug }}/index.html
eleventyComputed:
  pageTitle: "{{ post.title }}"
renderData:
  title: "{{ post.title }}"
  metaDesc: "{{ post.excerpt }}"
  socialImage: "{{ post.thumbImage }}"
---
