---
title: Saysa Says
layout: layouts/saysaSays.njk
metaDesc: 'A deleted scene from the first book of the Wolves of No World series Lobizona'
socialImage: images/b5d51723b0a29f8815caf389905a84510b9e73ad-1074x763.png
---