---
title: Series
layout: layouts/series
tags:
  - mySeries
pagination:
  alias: series
  data: series
  size: 1
  addAllPagesToCollections: true
permalink: series/{{ series.slug.current | slug }}/index.html
---
