---
title: Speaking
layout: layouts/speaking.njk
tags:
  - nav
navtitle: Speaking
metaDesc: 'Speaking events, topics, and booking information for Romina Garber'
eleventyComputed:
  socialImage: "{{ speakingPage.heroImages[0].imageUrl if speakingPage and speakingPage.heroImages and speakingPage.heroImages[0] else speakingPage.heroImageUrl }}"
---
