---
title: Speaking
layout: layouts/speaking.njk
tags:
  - nav
navtitle: Speaking
metaDesc: 'Speaking events, topics, and booking information for Romina Garber'
eleventyComputed:
  socialImage: "{{ speakingPage.heroImageUrl }}"
---
